<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RedisExchangeHosts" connectionString="123.57.79.8:6379,password=redis1715,allowadmin=true"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="redisKey" value="Demo:test:" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
